VITE_API_URL=http://localhost:3333
VITE_MEDIA_SOURCE_MODE=proxy
VITE_SHOW_FULLSCREEN=true
VITE_SHOW_PLAYER_TOOLTIPS=true
VITE_SHOW_SEEK_BUTTONS=true
VITE_SHOW_VOLUME_SLIDER=true
VITE_PLAYBACK_URLS={}
