VITE_API_URL=http://localhost:3333
VITE_MEDIA_SOURCE_MODE=direct
VITE_SHOW_FULLSCREEN=false
VITE_SHOW_PLAYER_TOOLTIPS=false
VITE_SHOW_SEEK_BUTTONS=false
VITE_SHOW_VOLUME_SLIDER=false
VITE_ENABLE_KEYBOARD_SHORTCUTS=false
VITE_ENABLE_TV_NAVIGATION=true
